<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{%static 'style.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <section class="main">
                <section class="wrapper">
                    <h2>Dictionary</h2>
                    <div>
                        <form method="post" action="{% url 'web:index' %}">
                            {% csrf_token %}
                            <div>
                                <input
                                    type="text"
                                    placeholder="search"
                                    name="search"

                                />
                            </div>

                            <button type="submit">
                                <img
                                    src="{%static 'images/search-solid.svg' %}"
                                    alt="image"
                                />
                            </button>
                        </form>
                    </div>
                    <ol>
                        {% if search %}
                            {% if missing %}
                                <h3> {{meanings}}</h3>
                           
                            {% else %}
                                {% for meaning in meanings  %}
                                    <li><h5> {{meaning}}<h5></li>
                                {% endfor %}
                            {% endif %}
                        {% else%}
                            <h1>hey! you forgot to search..</h1>
                        {% endif %}
                    </ol>
                </section>
            </section>
            <a href="{% url 'web:new' %}"><button class="one">add new</button></a>
        </header>
    </body>
</html>
